################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KittyCoins
/KittyCoins/bin/Debug
/KittyCoins/obj/Debug
/packages
/KittyCoins/bin/Release
/KittyCoins/obj/Release
/UnitTestKittyCoins/bin/Debug/netcoreapp2.1
/UnitTestKittyCoins/obj
