################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KittyCoins
/KittyCoins/bin/Debug
/KittyCoins/obj/Debug
/packages
/KittyCoins/bin/Release/*.pdb
/KittyCoins/bin/Release/*.xml
/KittyCoins/bin/Release/*.config
/KittyCoins/bin/Release/Resources/Blockchain Save
/KittyCoins/obj/Release
/UnitTestKittyCoins/bin/Debug/netcoreapp2.1
/UnitTestKittyCoins/obj
/.vs
/KittyCoins.Tests/bin/Debug
/KittyCoins.Tests/obj
/KittyCoins.Tests/bin/Release
