################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KittyCoin
/KittyCoin/bin/Debug
/KittyCoin/obj/Debug
/packages
/KittyCoin/bin/Release/*.pdb
/KittyCoin/bin/Release/*.xml
/KittyCoin/bin/Release/*.config
/KittyCoin/bin/Release/Resources/Blockchain Save
/KittyCoin/obj/Release
/UnitTestKittyCoin/bin/Debug/netcoreapp2.1
/UnitTestKittyCoin/obj
/.vs
/KittyCoin.Tests/bin/Debug
/KittyCoin.Tests/obj
/KittyCoin.Tests/bin/Release
